<footer class="bg-gray-900 text-gray-300 py-6">
    <div class="container mx-auto text-center">

        <p>© 2024 Diverse Delights. All rights reserved.</p>

        <!-- Social Links -->
        <div class="mt-4 flex justify-center space-x-4 text-xl">

            <a href="https://www.facebook.com/profile.php?id=61567340597572" target="_blank">
                <i class="fab fa-facebook hover:text-yellow-400"></i>
            </a>

            <a href="https://www.instagram.com/diverse.delights.2024/" target="_blank">
                <i class="fab fa-instagram hover:text-yellow-400"></i>
            </a>

            <a href="https://twitter.com/DelightsDiverse" target="_blank">
                <i class="fab fa-twitter hover:text-yellow-400"></i>
            </a>

            <a href="https://www.linkedin.com/in/diverse-delights-829034336/" target="_blank">
                <i class="fab fa-linkedin hover:text-yellow-400"></i>
            </a>

            <a href="https://github.com/diverse-delights" target="_blank">
                <i class="fab fa-github hover:text-yellow-400"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCiK3Wb5CcU2DLYDlELPLloQ" target="_blank">
                <i class="fab fa-youtube hover:text-yellow-400"></i>
            </a>
        </div>

        <!-- Image Credits -->
        <div class="mt-4 text-sm">
            <p>
                Images by
                <a href="https://www.freepik.com" target="_blank" class="hover:text-yellow-400">Freepik</a>,
                <a href="https://unsplash.com" target="_blank" class="hover:text-yellow-400">Unsplash</a>,
                <a href="https://www.pexels.com" target="_blank" class="hover:text-yellow-400">Pexels</a>
            </p>
        </div>

    </div>
</footer>
